/*
Theme Name: Idromacchine
Theme URI: http://www.diginess.com/
Author: Diginess s.r.l.
Author URI: http://www.diginess.com/
Description: WordPress Bootstrap 3.0.0 Custom Theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: bootstrap
Text Domain: wpbootstrap
 
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
html{
	background-color:#3C3C3C;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-weight:900;
}
body{
	font-family: 'Lato', sans-serif;
}
a{
	color:#5a5a5a;
	font-weight:900;
}
a:hover,
li.active a{
	text-decoration:underline;
}
p{
	font-size:16px;    
	font-weight: 400;
	color:#414141;
}
.container,
.mfp-inline-holder .mfp-content, 
.mfp-ajax-holder .mfp-content{
	width:970px;
}
.minimalist .fp-fullscreen{
	right:auto!important;
	left:0!important;
	top:8px!important;
}
.minimalist .fp-embed{
	display:none!important;
}
button.mfp-close, 
button.mfp-arrow{
	right:10px!important;
	color:#000!important;
}
.bg-grey{
	background-color:#ededed;
	padding-top:40px;
	padding-bottom:40px;
}
.bg-white{
	background-color:#FFFFFF;
	padding-top:40px;
	padding-bottom:40px;
}
.bg-grey-light{
	background-color:#f9f9f9;
	padding-top:40px;
	padding-bottom:40px;
}
h1.section-title{
	color:#4d4d4d;
	font-size:24px;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:35px;
	margin-top:0;
}
.btn-download{
	background-color:#1987d3;
	color:#ffffff;
	font-weight:900;
	font-size:12px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	padding:15px 50px;
	border: 1px solid #1987d3;
}
.btn-download span{
	margin-right: 5px;
	font-size:10px;
}
.btn-download:hover{
	background-color:#ffffff;
	color:#1987d3;
}
input[type="text"],
input[type="password"]{
	background-color: #E6E6E6;
	border: 0 none;
	font-size: 16px;
	padding: 15px;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.form-control{
	height:auto;
}

/* HEADER */
.header .logo{
	display: block;
	padding: 15px 0;
}
.idro-nav{   
	margin: 0;
	padding: 0;
}
.idro-nav li{
	display:inline-block;
	list-style:none;
}
.idro-nav li>span{
	background-color: #ffffff;
	display: inline-block;
	height: 21px;
	vertical-align: middle;
	width: 1px;
}
.idro-nav li a{
	text-transform:uppercase;
	font-size:14px;
	padding:0 5px;
	display: inline-block;
}
#top-menu{
	padding:35px 0 0;
}
.header-nav{
	background-color:#1987d3;
}
#main-menu li a{
	padding:13px;
	color: #FFFFFF;
}
.link-black{
	background-color: #222222;
	color: #FFFFFF;
	display: block;
	padding: 11px 0;
	text-align: center;
	font-weight:700;
	text-transform:uppercase;
	border: 1px solid #222222;
}

.link-blue{
	background-color: #1987D3;
	color: #FFFFFF;
	display: block;
	text-align: center;
	font-weight:700;
	border: 1px solid #FFFFFF;
	padding: 20px 40px;
}
.link-blue span,
.link-black span{
	margin-right:5px;
}
.link-blue:hover,
.link-black:hover{
	background-color: #FFFFFF;
	color: #1987D3;
	border: 1px solid #1987D3;
}

/* HOME */
.slider-home{
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:457px;
	position:relative;
}
.slider-home .container{
	position:relative;
	height: 100%;
}
.slider-home .content{
	padding:35px 40px 20px;
	background-color:#FFFFFF;
	width:440px;
	float:right;
	margin-top:95px;
	color:#4e4e4e;
}
.slider-home .content h1{
	font-size:30px;
	margin:0 0 5px;
	padding:0;
	text-transform:uppercase;
}
.slider-home .content p{
	font-size:16px;
	font-weight:400;
}
.slider-home .content a{
	font-size:18px;
	padding:20px 40px;
	margin-top: 25px;    
	float: right;
	display:inline-block;
	text-transform:uppercase;
}
.slider-home .btn-slide{
	background-color: #1987D3;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	bottom: 0;
	color: #FFFFFF;
	padding: 17px 40px;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	font-weight:900;
}
.slider-home .btn-slide:hover{
	background-color: #FFFFFF;
	color: #1987D3;
}
.slider-home .btn-slide span{
	font-size:12px;
	margin-right: 6px;
}
.box-page .element a{
	text-transform: uppercase;
	position:relative;
	display:block;
	
}
.box-page .element a span{
	color: #FFFFFF;
	border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	bottom: 20%;
	left: 0;
	padding: 10px;
	position: absolute;
}
.box-page .element img{
	max-width:100%;
}
.box-page-menu .element {
	position:relative;
}
.box-page-menu .element .bg{
	text-transform: uppercase;
	position:relative;
	display:block;

}
.box-page-menu .element .title{
	color: #ffffff;
	padding: 10px 5px;
	text-align: center;
	font-weight:700;
}
.box-page-menu .element img{
	width:100%;
}	
.box-page-menu .element .link-page{
	padding:0;
	margin:0;
	height:1px;
	width:100%;
	position:relative;
	opacity:0;
}
.box-page-menu .element:hover .link-page{
	opacity:1;
}
.box-page-menu .element .link-page ul{
	padding:0;
	margin:0;
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	 z-index: 2;
}
.box-page-menu .element .link-page ul li{
	list-style:none;
	margin-bottom:1px;
}
.box-page-menu .element .link-page ul li a{
	text-decoration:none;
	display:block;
	text-align:left;
	text-transform:uppercase;
	padding:10px 25px;
	font-weight:400;
}
.box-page-menu .element .link-page ul li a:hover{
	color:#fff;
}
.chi-siamo .content{
	background-color:#FFFFFF;
	padding:35px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.association-and-link .association{
	display: table-cell;
	float: none;
	height: 100%;
}

/* PORTFOLIO */
.portfolio-list a{
	display:block;
	width:100%;
	height:100%;
	min-height:140px;
	text-align:center;
}
.portfolio-list img{
	max-width:100%;
}

/* WORK WITH US */
.image-fluid{
	height:269px;
	width:100%;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}
.page-template-work-with-us-php .tab-work,
.page-template-work-with-us-fornitori-php .tab-work{
	background-color:#FFFFFF;
	margin-bottom:20px;
	padding: 15px 20px;
}
.page-template-work-with-us-php .bg-grey-light > div:nth-child(even) .tab-work,
.page-template-work-with-us-fornitori-php .bg-grey-light > div:nth-child(even) .tab-work{
	margin-left:12px;
}
.page-template-work-with-us-php .bg-grey-light > div:nth-child(odd) .tab-work,
.page-template-work-with-us-fornitori-php .bg-grey-light > div:nth-child(odd) .tab-work{
	margin-right:12px;
}
.page-template-work-with-us-php h2,
.page-template-work-with-us-fornitori-php h2{
	font-size:15px;
	font-weight:900;
}
.page-template-work-with-us-php .tab-work h3,
.page-template-work-with-us-fornitori-php .tab-work h3{
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 5px;
}
.page-template-work-with-us-php .tab-work p,
.page-template-work-with-us-fornitori-php .tab-work p{
	font-size:13px;
	font-weight:400;
}
.page-template-work-with-us-php .tab-work span,
.page-template-work-with-us-fornitori-php .tab-work span{
	display: block;
	font-size: 20px;
	margin-top: 11px;
}
.page-template-work-with-us-php .tab-work a span,
.page-template-work-with-us-fornitori-php .tab-work a span{
	display: block;
	font-size: 18px;
	margin-top: 34px;
}
.page-template-work-with-us-php .mfp-iframe-holder .mfp-close,
.page-template-work-with-us-fornitori-php .mfp-iframe-holder .mfp-close{
	font-size:36px;
	top: 15px;
}
.mfp-iframe-scaler iframe{
	border-radius:3px!important;
	-moz-border-radius:3px!important;
	-webkit-border-radius:3px!important;
}
.page-template-work-with-us-php .bg-grey-light,
.page-template-work-with-us-fornitori-php .bg-grey-light{
	padding-bottom:20px;
}

/* DEFAULT PAGE */
.box-title-page{
	background-color:#e5e5e5;
	margin-top:25px;
}
.box-title-page h1{
	font-size:16px;    
	font-weight: 900;
	color:#5A5A5A;
	text-transform:uppercase;
	margin:0;
	padding:13px 0;
}
.box-gallery .box-image{
	padding: 10px;
}
.box-gallery .box-image img{
	max-width:100%;
}
.page-body h1,
.page-about-us h1{
	font-size:16px;    
	font-weight: 900;
	color:#383838;
	text-transform:uppercase;
	margin:0;
	padding:13px 0;
}
.page-body .box-text,
.page-about-us .box-text{   
	text-align:justify;
}

/* QUALITY */
.page-template-quality-php h2{
	font-size:16px;
	font-weight:900;
	margin-top:0px;
	margin-bottom:20px;
}
.page-template-quality-php img{
	max-width:100%;
}
.page-template-quality-php .btn-download{
	margin-top:40px;
}

/* CONTACT */
.btn{
	font-size:14px;
	text-transform:uppercase;
	font-weight:900;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	padding-top:15px;
	padding-bottom:15px;
}
.btn-personale{
	background-color:#48c1e4;
	color:#ffffff;
	width: 100%;
}
.btn-fornitore{
	background-color:#3dbc9a;
	color:#ffffff;
	width: 100%;
}
.box-link .bg-gray{
	margin-bottom:15px;
	text-align:center;
}
.bg-gray{
	background-color:#f8f8f8;
	padding:25px;
}
.form-contact{
	padding:25px;
}	
.form-contact input[type="text"]{
	background-color: #E6E6E6 !important;
	border: 0 none !important;
	font-size: 16px;
	padding: 15px !important;
	border-radius: 3px !important;
	-moz-border-radius:3px!important;
	-webkit-border-radius:3px!important;
}
.form-contact .gfield.select-category{
	clear:both!important;
	float:none!important;
	width:100%!important;
}
.form-contact .gfield{
	clear: none !important;
	float: left!important;
	width: 50%!important;
}
.form-contact .gfield.privacy{
	clear:both!important;
	width:100%!important;
	margin-top:46px!important;
}
.form-contact .gfield.privacy .gfield_label{
	display:none;
	
}
.form-contact .file-cv,
.form-contact .file-cv input[type="file"]{
	width:100%!important;
}
.form-contact input[type="submit"]{
	border:none;
	background-color:#1987d3;
	color:#FFFFFF;
	padding:17px 68px;
	position:absolute;
	top:-51px;
	right:0;
	font-size: 14px;
	font-weight: 900;    
	text-transform: uppercase;
}
.form-contact .gform_footer{
	text-align:right;
	position:relative;
}
.form-contact .gform_confirmation_wrapper {
	padding: 25px;
	text-align:center;
}
.form-contact .gform_confirmation_wrapper h1{
	font-weight: 900;
}
.form-contact .gform_confirmation_wrapper p{
	font-size: 20px;
	font-weight: 300;
}
.form-contact .gform_confirmation_wrapper a{
	color: #3F87D7;
	font-size: 30px;
}
	
/* FOOTER */
.well{
	margin-bottom:0;    
	background-color: #3c3c3c;
	border:none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
.footer ul{    
	margin: 0;
}
.footer ul li{
	display:inline-block;
}
.footer ul li a,
.footer ul li span.text{
	padding:0 10px;
	font-size: 13px;
	color:#b2b2b2;
	font-weight:400;
}
.footer ul li span.separator{
	background-color: #b2b2b2;
	display: inline-block;
	height: 13px;
	vertical-align: middle;
	width: 2px;
}