html{
	margin:0!important;
}
.gform_wrapper{
	margin:0;
}

.content-form{
	background-color:#FFFFFF; 
	min-height:300px; 
	padding:50px;
}
.form-title{
	background-color:#e7e7e7;
	color:#474747;
	text-align:center;
	padding:15px 0;
}
.form-title h1{
	margin:0;
	font-size: 36px;
}
.form-title h1 span{
	margin-right:15px;
	font-size: 30px;
}
.form-content{
	padding:25px;
}	
.form-content input[type="text"]{
	background-color: #E6E6E6 !important;
    border: 0 none !important;
    font-size: 16px;
    padding: 15px !important;
    border-radius: 3px !important;
	-moz-border-radius:3px!important;
	-webkit-border-radius:3px!important;
}
.form-content .gfield.posizioni-disponibili{
	clear:both!important;
	float:none!important;
	width:100%!important;
}
.form-content .gfield{
	clear: none !important;
	    float: left!important;
	    width: 50%!important;
}
.form-content .gfield.privacy{
	clear:both!important;
	width:100%!important;
	margin-top:46px!important;
}
.form-content .gfield.privacy .gfield_label{
	display:none;
	
}
.form-content .file-cv,
.form-content .file-cv input[type="file"]{
	width:100%!important;
}
.form-content input[type="submit"]{
	border:none;
	background-color:#1987d3;
	color:#FFFFFF;
	padding:17px 68px;
	position:absolute;
	top:-51px;
	right:0;
	font-size: 14px;
    font-weight: 900;    
	text-transform: uppercase;
}
.form-content .gform_footer{
	text-align:right;
	position:relative;
}
.form-content .gform_confirmation_wrapper {
	padding: 25px;
	text-align:center;
}
.form-content .gform_confirmation_wrapper h1{
	font-weight: 900;
}
.form-content .gform_confirmation_wrapper p{
	font-size: 20px;
	    font-weight: 300;
}
.form-content .gform_confirmation_wrapper a{
	color: #3F87D7;
	    font-size: 30px;
}